* {
  font-family: "Press Start 2P", cursive;
  user-select: none;
}


body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin: 0;
    font-size: 16px;
}

button {
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: #ddd;
    cursor: pointer;
}

#introScreen {
    position: fixed;
    inset: 0;
    background: black;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

#tutorialScroll {
    transform: translateY(-120vh);

    width: 700px;
    max-width: 90%;

    padding: 40px;

    background: #e6d3a3;
    border: 10px solid #7a5a2b;
    border-radius: 20px;

    text-align: center;
}

#tutorialScroll h1 {
    margin-bottom: 20px;
}

#tutorialScroll button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 24px;
    cursor: pointer;
}

#hatClaimButton {
    /* position: absolute; */
    display: none;
    width: 140px;
    padding: 10px;
    bottom: 10px;
    /* border: 3px solid #3b2a1a; */
    border: none;
    border-radius: 14px;
    background: linear-gradient(to bottom, #ffd166, #f4a261);
    color: white;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 0 #9c6644;
    transition: 0.15s;
}

#hatClaimButton:hover {
    transform: translateY(-2px);
    filter: brightness(1.05);
}

#hatClaimButton:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #9c6644;
}

.blur {
    filter: blur(2.5px);
}

.button {
    display: block;
    width: 160px;
    padding: 10px;
    bottom: 10px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(to bottom, #ffd166, #f4a261);
    color: white;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 0 #9c6644;
    transition: 0.15s;
}

.button:hover {
    transform: translateY(-2px);
    filter: brightness(1.05);
}

.button:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #9c6644;
}

.shopItem {
    display: flex;
    align-items: center;
    gap: 20px;

    background: white;
    border-radius: 10px;
    padding: 15px;
}

.shopItem img {
    width: 80px;
    height: 80px;
}

.shopInfo {
    flex: 1;
}

.shopInfo h2 {
    margin-bottom: 8px;
}

.shopInfo p {
    margin: 4px 0;
}

.achievement {
    display: none;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    font-size: 8px;
    padding: 7px;
    line-height: 1.5;
}

.buttonsAchievements {
    height: 45px;
    line-height: 1.5;
    background: linear-gradient(to bottom, #ffd166, #f4a261);
    padding-top: 7px;
    font-size: 7px;
    cursor: pointer;
    box-shadow: 0 4px 0 #9c6644;
    transition: 0.15s;
}

.buttonsAchievements:hover {
    transform: translateY(-2px);
    filter: brightness(1.05);
}

.buttonsAchievements:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #9c6644;
}

#bossOverlay{
    display: none;

    position: absolute;

    inset: 0;

    background: rgba(0,0,0,.65);

    z-index: 50;
}

#caveBattleInstructions{
    display: none;

    opacity: 1;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    width: 520px;
    max-width: 90%;

    padding: 30px;

    background: linear-gradient(#ffe9b5,#e9b96d);

    border: 6px solid #5d3516;

    border-radius:18px;

    text-align: center;

    box-shadow:
        0 0 0 5px #8c5b2f inset,
        0 10px 30px rgba(0,0,0,.5);

    z-index: 100;
}

#caveBattleInstructions h2{
    margin: 0;
    color: #5a381e;
    font-size: 20px;
}

#bossIcon{
    image-rendering: pixelated;

    width: 96px;
    height: 90px;

    margin-bottom: 15px;
}

.description{
    font-size:12px;

    line-height:1.8;

    color:#40220f;
}

.rewardBox{

    margin:20px 0;

    padding:12px;

    background:#fff4cf;

    border:3px solid #c89b33;

    border-radius:10px;
}

.warningBox{

    margin-bottom:20px;

    padding:12px;

    background:#ffd3d3;

    border:3px solid #aa3333;

    color:#660000;

    border-radius:10px;
}

#caveBattle {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    display: none;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;

    box-sizing: border-box;
}

.caveBattleDivHealthBar {
    width: 220px;
    background: linear-gradient(to bottom, #ffd166, #f4a261);
    border: 4px solid #5a381e;
    border-radius: 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,.45);
}

.healthBarBackground {
    width: 140px;
    height: 18px;

    background: #742323;

    border-radius: 10px;

    overflow: hidden;
}

#caveBattlePlayerHealthBar{
    height:100%;
    width:100%;

    background:linear-gradient(#42ff42,#00b300);

    transition:width .2s;
}

#caveBattleSlimeHealthBar{
    height:100%;
    width:100%;

    background:linear-gradient(#42ff42,#00b300);

    transition:width .2s;
}

.caveBattleDivHealthBar img{
    width:40px;
    height:40px;
}

.healthBarInfo{
    display:flex;

    flex-direction:column;

    gap:8px;
}