* {
  font-family: "Press Start 2P", cursive;
  user-select: none;
}


body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin: 0;
    font-size: 16px;
}

button {
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* TUTORIAL */
#introScreen {
    position: fixed;
    inset: 0;
    background: black;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

#tutorialScroll {
    transform: translateY(-120vh);

    width: 700px;
    max-width: 90%;

    padding: 40px;

    background: #e6d3a3;
    border: 10px solid #7a5a2b;
    border-radius: 20px;

    text-align: center;
}

#tutorialScroll h1 {
    margin-bottom: 20px;
}

#tutorialScroll button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 24px;
    cursor: pointer;
}

/* ACHIEVEMENT CLIAM HAT(REMOVE)*/
#hatClaimButton {
    /* position: absolute; */
    display: none;
    width: 140px;
    padding: 10px;
    bottom: 10px;
    /* border: 3px solid #3b2a1a; */
    border: none;
    border-radius: 14px;
    background: linear-gradient(to bottom, #ffd166, #f4a261);
    color: white;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 0 #9c6644;
    transition: 0.15s;
}

#hatClaimButton:hover {
    transform: translateY(-2px);
    filter: brightness(1.05);
}

#hatClaimButton:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #9c6644;
}

/* CLASSES TO USE IN THE GAME */
.blur {
    filter: blur(2.5px);
}

.button {
    display: block;
    width: 160px;
    padding: 10px;
    bottom: 10px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(to bottom, #ffd166, #f4a261);
    color: white;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 0 #9c6644;
    transition: 0.15s;
}

.button:hover {
    transform: translateY(-2px);
    filter: brightness(1.05);
}

.button:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #9c6644;
}

/* GAME SHOP */
.shopItem {
    display: flex;
    align-items: center;
    gap: 20px;

    background: white;
    border-radius: 10px;
    padding: 15px;
}

.shopItem img {
    width: 80px;
    height: 80px;
}

.shopInfo {
    flex: 1;
}

.shopInfo h2 {
    margin-bottom: 8px;
}

.shopInfo p {
    margin: 4px 0;
}

/* REMOVE */
.achievement {
    display: none;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    font-size: 8px;
    padding: 7px;
    line-height: 1.5;
}

.buttonsAchievements {
    height: 45px;
    line-height: 1.5;
    background: linear-gradient(to bottom, #ffd166, #f4a261);
    padding-top: 7px;
    font-size: 7px;
    cursor: pointer;
    box-shadow: 0 4px 0 #9c6644;
    transition: 0.15s;
}

.buttonsAchievements:hover {
    transform: translateY(-2px);
    filter: brightness(1.05);
}

.buttonsAchievements:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #9c6644;
}

/* ACHIEVEMENTS */
#achievementButton {
    background: none;
    border: none;
    outline: none;

    width: 50px;
    height: 50px;

    position: absolute;
    top: 7px;
    right: 30px;

    font-size: 40px;
}

#achievementButton:focus {
    outline: none;
}

#achievementButton:focus-visible {
    outline: none;
}

#achievementMenu {
    display: none;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    width: 700px;
    max-width: 90%;
    height: 270px;

    overflow-y: auto;

    padding: 30px;

    background: linear-gradient(#ffe9b5,#e9b96d);

    border: 6px solid #5d3516;

    border-radius: 20px;

    box-shadow:
        0 0 0 5px #8c5b2f inset,
        0 15px 40px rgba(0,0,0,.5);

    z-index: 200;
}

#achievementMenu h2{
    margin: 0;
    text-align: center;
}

/* bandwidth */
#achievementMenu::-webkit-scrollbar {
    width: 12px;
}

/* The track (background) */
#achievementMenu::-webkit-scrollbar-track {
    background: #5a381e;
    border-radius: 10px;
}

/* the button */
#achievementMenu::-webkit-scrollbar-thumb {
    background: linear-gradient(#ffd166, #f4a261);
    border-radius: 10px;
    border: 2px solid #5a381e;
}

/* Mouseover effect */
#achievementMenu::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#ffe28a, #f7b76a);
}

#achievementProgress{
    margin-top: 15px;

    text-align: center;

    font-size: 12px;
}

#achievementGrid{
    margin-top: 25px;

    display: grid;

    grid-template-columns: repeat(2,1fr);

    gap: 20px;
}

.achievementCard{

    display: flex;

    align-items: center;

    gap: 15px;

    padding: 15px;

    background: #fff4cf;

    border: 3px solid #8c5b2f;

    border-radius: 12px;
}

.achievementIcon{

    font-size: 30px;
}

.achievementInfo h3{

    margin: 0;

    font-size: 13px;
}

.achievementInfo p{

    margin-top: 8px;

    font-size: 9px;

    line-height: 1.6;
}

.completed {
    border-color: gold;
}

.locked {
    opacity: .45;
    filter: grayscale(100%);
}

/* CAVE BATTLE */
#bossOverlay{
    display: none;

    position: absolute;

    inset: 0;

    background: rgba(0,0,0,.65);

    z-index: 50;
}

#caveBattleInstructions{
    display: none;

    opacity: 1;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    width: 520px;
    max-width: 90%;

    padding: 30px;

    background: linear-gradient(#ffe9b5,#e9b96d);

    border: 6px solid #5d3516;

    border-radius:18px;

    text-align: center;

    box-shadow:
        0 0 0 5px #8c5b2f inset,
        0 10px 30px rgba(0,0,0,.5);

    z-index: 100;
}

#caveBattleInstructions h2{
    margin: 0;
    color: #5a381e;
    font-size: 20px;
}

#bossIcon{
    image-rendering: pixelated;

    width: 96px;
    height: 90px;

    margin-bottom: 15px;
}

.description{
    font-size:12px;

    line-height:1.8;

    color:#40220f;
}

.rewardBox{

    margin:20px 0;

    padding:12px;

    background:#fff4cf;

    border:3px solid #c89b33;

    border-radius:10px;
}

.warningBox{

    margin-bottom:20px;

    padding:12px;

    background:#ffd3d3;

    border:3px solid #aa3333;

    color:#660000;

    border-radius:10px;
}

#battleResult{
    display: none;

    opacity: 1;

    position: absolute;

    top: 50%;
    left: 50%;

    transform:translate(-50%,-50%);

    width:480px;
    max-width:90%;

    padding:35px;

    text-align:center;

    background:linear-gradient(#ffe9b5,#e9b96d);

    border:6px solid #5d3516;

    border-radius:18px;

    box-shadow:
        0 0 0 5px #8c5b2f inset,
        0 12px 30px rgba(0,0,0,.5);

    z-index:100;
}

#resultIcon{

    width:90px;
    height:90px;

    image-rendering:pixelated;

    margin-bottom:20px;
}

#battleResultTitle{

    margin:0;

    color:#5a381e;

    font-size:24px;
}

#battleResultText{

    margin-top:20px;

    font-size:12px;

    line-height:1.8;

    color:#40220f;
}

#battleRewardBox{

    margin:25px 0;

    padding:15px;

    background:#fff4cf;

    border:3px solid #c89b33;

    border-radius:12px;

    color:#5a381e;

    font-size:12px;
}

#continueButton{

    margin:auto;
}

#caveBattle {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    display: none;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;

    box-sizing: border-box;
}

.caveBattleDivHealthBar {
    width: 220px;
    background: linear-gradient(to bottom, #ffd166, #f4a261);
    border: 4px solid #5a381e;
    border-radius: 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,.45);
}

.healthBarBackground {
    width: 140px;
    height: 18px;

    background: #742323;

    border-radius: 10px;

    overflow: hidden;
}

#caveBattlePlayerHealthBar{
    height:100%;
    width:100%;

    background:linear-gradient(#42ff42,#00b300);

    transition:width .2s;
}

#caveBattleSlimeHealthBar{
    height:100%;
    width:100%;

    background:linear-gradient(#42ff42,#00b300);

    transition:width .2s;
}

.caveBattleDivHealthBar img{
    image-rendering: pixelated;
    width:40px;
    height:40px;
}

.healthBarInfo{
    display:flex;

    flex-direction:column;

    gap:8px;
}

#achievementPopup {
    position: absolute;

    top: 20px;
    right: -400px;

    width: 320px;

    display: none;
    align-items: center;

    gap: 15px;

    padding: 18px;

    background: linear-gradient(#ffe08a,#f6b84b);

    border: 4px solid #5a381e;

    border-radius: 16px;

    box-shadow: 0 8px 20px rgba(0,0,0,.45);

    z-index: 9999;
}

#achievementPopupIcon {
    font-size: 40px;
}

#achievementPopupInfo h3{
    margin:0;
    font-size:14px;
}

#achievementPopupInfo p{
    margin-top:8px;
    font-size:11px;
}   